{{#foreach navigation}}
<a class="header__link nav__{{slug}}{{#if current}} nav__current{{/if}}" href="{{url absolute="true"}}">{{label}}</a>
{{/foreach}}
<<<<<<< HEAD
<a class="header__link theme__toggle" href="#!">
=======
<a class="header__link theme__toggle" href="#!" onclick="toggleTheme()">
>>>>>>> 6ef46df604ed0431605fac7cd962154086ad9d04
<svg viewBox="0 0 32 32" width="24" height="24" fill="currentcolor">
      <path d="M 16 0 A 16 16 0 0 0 16 32 z" />
    </svg>
    </a>
<<<<<<< HEAD
=======

>>>>>>> 6ef46df604ed0431605fac7cd962154086ad9d04
